body.Dark{
    background: #181614;
}

body.Dark > header{
    background: purple;
}

body.Dark #minusball{
    transform: translate(+8px,1.5px);
    opacity: 1;
}
body.Dark #darkball{
    transform: translate(30.5px,2.5px);
}

body.Dark #darktheme + span {
    color: white;
}

body.Dark h1, body.Dark h2,body.Dark h3,body.Dark h4{
    color: white;
}

body.Dark main{
    border: 1px dotted rgba(255,255,255,0.2);
    background: black;
    color: mintcream;
}