
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: mintcream;
}
#darktheme{
    margin: 0 auto;
    /*float: right;*/
    width: 60px;
    height: 30px;
    border-radius: 99px;
    background: darkgrey;
    overflow: hidden;
}
#darkball{
    transition: 0.25s ease-in-out;
    height: 25px;
    transform: translate(+2.5px,+2.5px);
    width: 25px;
    background: yellow;
    border-radius: 99px;

}
#minusball{
    transition: ease-in-out 0.5s;
    background: darkgrey;
    height: 20px;
    width: 20px;
    transform: translate(+25px,+1.5px) scale(0.01);
    border-radius: 99px;
}
header{
    position: fixed;
    width: 100vw;
    min-height: 10px;
    padding: 10px;
    background: #e800e8;
}
.fakeheader{height: 90px}

#darktheme + span {
    color: black;
}
header > div, header > h1{
    margin: 10px;
    width: max-content;
    display: inline-block;
}

header > div{
    text-align: center;
    min-width: 200px;
    float: right;

}
main{
    border: 1px dotted rgba(0,0,0,0.2);
    width: 900px;
    margin: 0 auto;
    height: 100vh;
    background: white;
}
