#colorThreeB{
    background: green !important;
}

body.themeThree {
    background: green;
}

.themeThree header{
    background: #004800;
    color: white;
}

.themeThree #colors{
    transform: rotate(-180deg);
}